<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="index.html">mattben</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="llnl.html">Work</a></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">School <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="davis.html">Davis</a></li><li><a href="chico.html">Chico</a></li><li><a href="mendo.html">Mendo</a></li>      </ul>
          </li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Family <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="http://thenewharrisfamily.shutterfly.com">Shutterfly</a></li><li><a href="http://www.caringbridge.org/visit/brianharris">Caring Bridge</a></li>      </ul>
          </li>
          <li><a href="social.html">Social</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
